<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593979993073-ajjf7ce4qb16olf8brrjruttrohdtfmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593979993073-ajjf7ce4qb16olf8brrjruttrohdtfmm</string>
	<key>API_KEY</key>
	<string>AIzaSyDv2YJwIZhUAn1mIcEMotU4anSQxu0Ji94</string>
	<key>GCM_SENDER_ID</key>
	<string>593979993073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madhavcodes.greenLens</string>
	<key>PROJECT_ID</key>
	<string>green-lens</string>
	<key>STORAGE_BUCKET</key>
	<string>green-lens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593979993073:ios:dc1af9318bd5012a41f250</string>
</dict>
</plist>